@charset "UTF-8";

/*
 * #BASE
 */
/*------------------------------------*\
	#FONTS
\*------------------------------------*/
/**
 * Graublau Sans
 */
/* Graublau Sans Extra Light */
@font-face {
	font-family: "Graublau Sans";
	src: url("fonts/graublausans-extralight.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}

/* Graublau Sans Light */
@font-face {
	font-family: "Graublau Sans";
	src: url("fonts/graublausans-light.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}

/* Graublau Sans Book */
@font-face {
	font-family: "Graublau Sans";
	src: url("fonts/graublausans-book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

/* Graublau Sans Semibold */
@font-face {
	font-family: "Graublau Sans";
	src: url("fonts/graublausans-semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

/* Graublau Sans Bold */
@font-face {
	font-family: "Graublau Sans";
	src: url("fonts/graublausans-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

/* Graublau Sans Heavy */
@font-face {
	font-family: "Graublau Sans";
	src: url("fonts/graublausans-heavy.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}

/**
 * Graublau Slab
 */
/* Graublau Slab Extra Light */
@font-face {
	font-family: "Graublau Slab";
	src: url("fonts/graublauslab-extralight.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}

/* Graublau Slab Italic */
@font-face {
	font-family: "Graublau Slab";
	src: url("fonts/graublauslab-italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}

/* Graublau Slab Book Italic */
@font-face {
	font-family: "Graublau Slab";
	src: url("fonts/graublauslab-bookitalic.woff") format("woff");
	font-weight: 500;
	font-style: italic;
}

/* Graublau Slab Semibold */
@font-face {
	font-family: "Graublau Slab";
	src: url("fonts/graublauslab-semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

/* Graublau Slab Semibold Italic */
@font-face {
	font-family: "Graublau Slab";
	src: url("fonts/graublauslab-semibolditalic.woff") format("woff");
	font-weight: 600;
	font-style: italic;
}

/* Graublau Slab Bold */
@font-face {
	font-family: "Graublau Slab";
	src: url("fonts/graublauslab-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

/* Graublau Slab Bold Italic */
@font-face {
	font-family: "Graublau Slab";
	src: url("fonts/graublauslab-bolditalic.woff") format("woff");
	font-weight: 700;
	font-style: italic;
}

/* Graublau Slab Heavy */
@font-face {
	font-family: "Graublau Slab";
	src: url("fonts/graublauslab-heavy.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}

/* Graublau Slab Heavy Italic */
@font-face {
	font-family: "Graublau Slab";
	src: url("fonts/graublauslab-heavyitalic.woff") format("woff");
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'OliveGreen';
	src: url('fonts/olivegreenmono-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OliveGreen';
	src: url('fonts/olivegreenmono-bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'OliveGreen';
	src: url('fonts/olivegreenmono-italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}
pre {
	max-width :630px;
}

/*------------------------------------*\
	#LIST-INLINE
\*------------------------------------*/
/**
 * The list-inline object simply displays a list of items in one line.
 */
.list-inline {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list-inline > li {
	display: inline-block;
}

/*------------------------------------*\
	#WRAPPERS
\*------------------------------------*/
.wrapper {
	width: 940px;
	margin: 10px auto 0 auto;
}
@media screen and (max-width: 870px) {
	div.document {
		width: 100%;
	}
}

.page-head {
	padding-top: 0px;
	padding-bottom: 0px;
	color: #fff;
	background: rgb(235,235,235);
	background: linear-gradient(0deg, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 100%);
}

.page-head a {
	-webkit-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
}

/* Head Navigation */
.page-head__nav a {
	color: #2C9191;
}
.page-head__nav a:hover {
	color: #000;
}

.page-head__nav .is-active a {
	background-color: #2C9191;
	color:#fff;
	padding:1px 10px;
	border-radius:4px;
}

@media screen and (max-width: 719px) {
	.page-head__nav {
		margin-top: -11px;
		margin-right: -11px;
		margin-bottom: 11px;
		margin-left: -11px;
	}
}

@media screen and (min-width: 720px) {
	.page-head__nav {
		float: right;
	}
}

.page-logo {
	position: relative;
	display: inline-block;
}

h1.stage__title {
	position: relative;
	display: inline-block;
	color: #1E9192;
	font-family: "Graublau Slab";
	font-weight:100;
	font-size:50px;
	padding:0px;
	margin:0px;
	vertical-align:text-bottom;
}

.nav-site {
	text-transform: uppercase;
}

@media screen and (max-width: 719px) {
	.nav-site {
		position: relative;
		margin-right: -11px;
		margin-left: -11px;
		font-size: 18px;
		font-size: 2rem;
		text-align: left;
		background-color: #fff;
	}

	.nav-site > li {
		display: block;
		padding-right: 11px;
		padding-left: 11px;
	}

	.nav-site a {
		display: block;
		color: #e53162;
		padding: 0.5em 11px;
		border-top: 1px solid rgba(23, 84, 71, 0.1);
	}
	
	.nav-site a:hover {
		color: #861131;
	}
	
	.nav-site a:visited {
		color: #fff;
	}

	.nav-site li:first-child a {
		border-style: none;
	}

	.nav-site .is-active a {
		color: #000;
	}
}

@media screen and (min-width: 720px) {
	.nav-site {
		text-align: center;
		text-align: right;
	}

	.nav-site a {
		position: relative;
	}

	.nav-site .is-active a {
		z-index: 1;
	}
}

@media screen and (min-width: 720px) and (max-width: 1023px) {
	.nav-site {
		font-size: 14px;
		font-size: 0.875rem;
	}

	.nav-site a {
		margin-left: -4px;
		padding: 3px 6px;
	}
}

@media screen and (min-width: 1024px) {
	.nav-site {
		font-size: 1.5rem;
	}
}
div.sphinxsidebarwrapper {
	padding: 0px;
}
div.sphinxsidebar ul {
	margin: 0;
}

pre {
	padding-left: 12px !important;
}

dl.field-list > dt {
	padding-left: 30px;
	padding-right: 2px;
}
dl.field-list, dd {
	margin-bottom:0px;
}
dl.function {
	margin-top:12px;
}
dd p {
	margin-bottom:0px;
}