// common

ARCHS = $(ARCHS_STANDARD_64_BIT)
VALID_ARCHS = x86_64

CLANG_ENABLE_OBJC_ARC = YES

CLANG_ENABLE_MODULES = YES

COMBINE_HIDPI_IMAGES = YES

GCC_PRECOMPILE_PREFIX_HEADER = YES

MACOSX_DEPLOYMENT_TARGET = 10.9
SDKROOT = macosx
GCC_WARN_UNUSED_VARIABLE = YES
SKIP_INSTALL = YES
COPY_PHASE_STRIP = NO
LLVM_LTO = YES