<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.schriftgestaltung.glyphsfileFormatPlugin</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template builds a File Format Plugin for Glyphs.</string>
	<key>Ancestors</key>
	<array>
		<string>com.schriftgestaltung.glyphsPluginBase</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>documentExtension</string>
			<key>Name</key>
			<string>Document Extension:</string>
			<key>Description</key>
			<string>The extension for your document</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>mydoc</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>documentType</string>
			<key>Name</key>
			<string>Document Type:</string>
			<key>Description</key>
			<string>The type for your document</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>com.name.filetype</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>role</string>
			<key>Name</key>
			<string>Role:</string>
			<key>Description</key>
			<string>If the plugin can read and/or write files</string>
			<key>Type</key>
			<string>popup</string>
			<key>Values</key>
			<array>
				<string>Editor</string>
				<string>Viewer</string>
				<string>Exporter</string>
			</array>
			<key>Default</key>
			<string>Exporter</string>
		</dict>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>WRAPPER_EXTENSION</key>
				<string>glyphsFileFormat</string>
			</dict>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAMEASIDENTIFIER___.h</string>
		<string>___PACKAGENAMEASIDENTIFIER___.m</string>
		<string>en.lproj/___PACKAGENAMEASIDENTIFIER___Dialog.xib</string>
		<string>ExportIcon.tif</string>
		<string>ExportIcon@2x.tif</string>
		<string>Info.plist:CFBundleDocumentTypes</string>
		<string>Info.plist:CFBundleTypeExtensions</string>
		<string>Info.plist:CFBundleTypeRole</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>___PACKAGENAMEASIDENTIFIER___.h</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___.h</string>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___.m</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___.m</string>
		</dict>
		<key>en.lproj/___PACKAGENAMEASIDENTIFIER___Dialog.xib</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___Dialog.xib</string>
		</dict>
		<key>ExportIcon.tif</key>
		<dict>
			<key>Path</key>
			<string>ExportIcon.tif</string>
			<key>Group</key>
			<string>Supporting Files</string>
		</dict>
		<key>ExportIcon@2x.tif</key>
		<dict>
			<key>Path</key>
			<string>ExportIcon@2x.tif</string>
			<key>Group</key>
			<string>Supporting Files</string>
		</dict>
		<key>Info.plist:CFBundleDocumentTypes</key>
		<string><![CDATA[<key>CFBundleDocumentTypes</key>
		<array>
			<string>___VARIABLE_documentType:XML___</string>
		</array>
		]]></string>
		<key>Info.plist:CFBundleTypeExtensions</key>
		<string><![CDATA[<key>CFBundleTypeExtensions</key>
			<array>
				<string>___VARIABLE_documentExtension:XML___</string>
			</array>
		]]></string>
<key>Info.plist:CFBundleTypeRole</key>
		<string><![CDATA[<key>CFBundleTypeRole</key>
			<string>___VARIABLE_role:XML___</string>
		]]></string>
	</dict>
</dict>
</plist>
