<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.GeorgSeifert.multipleTools</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Multiple Tools</string>
	<key>CFBundleVersion</key>
	<string>0.2</string>
	<key>CFBundleShortVersionString</key>
	<string>2</string>
	<key>UpdateFeedURL</key>
	<string>____OnlineUrlToThisPlist____</string>
	<key>productPageURL</key>
	<string>____ProductPageURL____</string>
	<key>productReleaseNotes</key>
	<string>____LatestReleaseNotes____</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Georg Seifert, 2016</string>
	<key>NSPrincipalClass</key>
	<string>MultipleTools</string>
</dict>
</plist>
