<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.schriftgestaltung.glyphsPalette</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template builds a Palette Plugin for Glyphs.</string>
	<key>Ancestors</key>
	<array>
		<string>com.schriftgestaltung.glyphsPluginBase</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>WRAPPER_EXTENSION</key>
				<string>glyphsPalette</string>
			</dict>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>___PACKAGENAMEASIDENTIFIER___.h</string>
						<string>___PACKAGENAMEASIDENTIFIER___.m</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>___PACKAGENAMEASIDENTIFIER___.h</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___.h</string>
						</dict>
						<key>___PACKAGENAMEASIDENTIFIER___.m</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___.m</string>
						</dict>
					</dict>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>___PACKAGENAMEASIDENTIFIER___.swift</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>___PACKAGENAMEASIDENTIFIER___.swift</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___.swift</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>Base.lproj/___PACKAGENAMEASIDENTIFIER___View.xib</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Base.lproj/___PACKAGENAMEASIDENTIFIER___View.xib</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___View.xib</string>
		</dict>
	</dict>
</dict>
</plist>
