<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.schriftgestaltung.glyphsToolPlugin</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template builds a Tool Plugin for Glyphs.</string>
	<key>Ancestors</key>
	<array>
		<string>com.schriftgestaltung.glyphsPluginBase</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>WRAPPER_EXTENSION</key>
				<string>glyphsTool</string>
			</dict>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAMEASIDENTIFIER___.h</string>
		<string>___PACKAGENAMEASIDENTIFIER___.m</string>
		<string>ToolbarIconTemplate.pdf</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>___PACKAGENAMEASIDENTIFIER___.h</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___.h</string>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___.m</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___.m</string>
		</dict>
		<key>ToolbarIconTemplate.pdf</key>
		<dict>
			<key>Path</key>
			<string>ToolbarIconTemplate.pdf</string>
		</dict>
	</dict>
</dict>
</plist>
