<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.Georg Seifert.KernTableSubsetter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Kern Table Subsetter</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string> <!-- 1.0 -->
	<key>CFBundleVersion</key>
	<string>1</string> <!-- 123 -->
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Georg Seifert, 2026</string>
	<key>NSPrincipalClass</key>
	<string>KernTableSubsetter</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
