/*
 * default.css_t
 * ~~~~~~~~~~~~~
 *
 * Sphinx stylesheet -- default theme.
 *
 * :copyright: Copyright 2007-2011 by the Sphinx team, see AUTHORS.
 * :license: BSD, see LICENSE for details.
 *
 */

/* -- page layout ----------------------------------------------------------- */

body {
	margin: 0;
	padding: 0;
}

/* -- hyperlink styles ------------------------------------------------------ */

a {
	color: #e53162;
	text-decoration: none !important;
}

div.document a:visited {
	color: #e53162;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h2 a, h2 a:visited {
	color:white;
}

/* -- body styles ----------------------------------------------------------- */
div.body h1 {
	font-weight: normal;
	font-style: italic;
	font-weight: 500;
	background-color: #f6dfe5;
	padding: 10px;
	padding-left: 15px
}

div.body h2 {
	font-weight: normal;
	color: #175447;
	font-style: italic;
	background-color: #def7f2;
	font-weight: 500;
	padding: 5px;
	padding-left: 10px;
	margin-top: 2em;
}

div.body h1 { font-size: 160%; }
div.body h2 { font-size: 130%; }

a.headerlink {
	color: #c60f0f;
	font-size: 0.8em;
/*	padding: 0 4px 0 4px;*/
	text-decoration: none;
}

a.headerlink:hover {
	background-color: #c60f0f;
	color: white;
}

div.sphinxsidebar {}

div.sphinxsidebarwrapper {
	position:fixed;
	width: 270px;
	z-index: 2;
	padding-top: 5px;
	padding-left: 40px;
	padding-right: 10px;
	font-size: .8em;
}

div.sphinxsidebar ul {
	padding: 0;
	color: #ffffff;
}

div.sphinxsidebar li code {
	font-weight: bold;
}

div.sphinxsidebar li li {
	display: none;
}

table.docutils + p {
	margin-top: 10px;
}

/*
div.sphinxsidebar h3 {
	font-family: 'Trebuchet MS', sans-serif;
	color: #ffffff;
	font-size: 1.4em;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

div.sphinxsidebar h3 a {
	color: #ffffff;
}

div.sphinxsidebar h4 {
	font-family: 'Trebuchet MS', sans-serif;
	color: #ffffff;
	font-size: 1.3em;
	font-weight: normal;
	margin: 5px 0 0 0;
	padding: 0;
}

div.sphinxsidebar p {
	color: #ffffff;
}

div.sphinxsidebar p.topless {
	margin: 5px 10px 10px 10px;
}

div.sphinxsidebar ul {
	margin: 10px;
	padding: 0;
	color: #ffffff;
}

div.sphinxsidebar a {
	color: #98dbcc;
}

div.sphinxsidebar input {
	border: 1px solid #98dbcc;
	font-family: sans-serif;
	font-size: 1em;
}
*/

/* mute odd library descritions */

table.docutils td + td {
	display: none;
}

div.body p, div.body dd, div.body li {
	text-align: left;
	line-height: 130%;
}

pre {
	padding: 5px;
	background-color: #eee;
	color: #333333;
	line-height: 120%;
	border: 0px solid #aaa;
	border-left: none;
	border-right: none;
}

code {
	font-family: OliveGreen;
}

/* Georg 10.4.13 */

pre, .pre {
	-moz-tab-size: 4;
	tab-size: 4;
}

tt {
	font-weight: normal !important;
}

td, th {
	vertical-align:baseline;
}

ul.task-list , .main-navigation ul, .method-subsection ul {
	list-style-type: none;
	padding-left: 0;
}

.main-navigation ul > li {
	display: inline-block;
	margin-right: 10px;
}

h4.method-subtitle {
	margin-bottom: 0px;
}

.method-subsection ul {
	margin: 0;
}

/* ################ MOBILE ################  */

@media screen and (max-width: 600px) {

div.sphinxsidebarwrapper {
	position: inherit;
	width: inherit;
	z-index: inherit;
	padding-left: 10px;
}

.wrapper {
	margin: inherit;
}

img {
	max-width: 100%;
}

div.body h1 {
	margin-top: 2em;
}

code.descname {
	font-size: 80%;
}

dd {
	margin-left: 10px;
}

a.reference.internal, div.section {
	display: block;
	width:100%;
	height:100%;
}

.page-head__logo {
	width: 120px;
}

.page-logo {
	position: relative;
	top: -33px;

}

.stage__title {
	position: relative;
	top: -8px;
}

}

